<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlR9zWce9dK8ji9h_eqqEsr-7SFATJXNw</string>
	<key>GCM_SENDER_ID</key>
	<string>770040957958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nalbantsoft.kesfedio</string>
	<key>PROJECT_ID</key>
	<string>exploria-f774c</string>
	<key>STORAGE_BUCKET</key>
	<string>exploria-f774c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770040957958:ios:27afcc7c938c172a9e0787</string>
</dict>
</plist>
